<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <% if purpose == 'index' %>
        <th>User</th>
      <% end %>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% obj.each do |article| %>
      <tr>
        <td><%= article.title%></td>
        <td><%= article.description%></td>
        <% if purpose == 'index' %>
        <td><%= article.user.username%></td>
        <% end %>
        <td><%= link_to 'View', article_path(article)%></td>
        <td><%= link_to 'Edit', edit_article_path(article)%></td>
        <td>
          <%= link_to 'Delete', 
          article_path(article), 
          method: :delete, 
          data: { confirm: "Would you like to delete?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>