<h2>Alpha Bloggers:</h2>

<div>
  <% @users.each do |user| %>
    <% if logged_in? && user == current_user %>
    <% else %>
      <div class="user-container">
        <h3>
          <%= user.username %>
        </h3>
        <div class="user-box">
          <div class="user-image">
            <%= gravatar_for(user,size: 150) %>
          </div>
          <div class="user-info">
            <div>
              <p><%= pluralize(user.articles.count, "article")%> posted</p>
            </div>
            <div>
              <%= link_to 'View Profile', user_path(user)%> 
            </div>
            <div>
              <small>Joined <%= time_ago_in_words(user.created_at)%> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
