<h2>
  <%= @user.username %>'s profile<%= "(admin)" if @user.admin?%>: 
</h2>

<div class="user-container for-profile">
  <div class="user-box">
    <div class="user-image">
      <%= gravatar_for(@user,size: 150) %>
    </div>
    <div class="user-info">
      <div>
        <p><%= pluralize(@user.articles.count, "article")%> posted</p>
      </div>
      <% if logged_in? && @user == current_user %>
        <div>
          <%= link_to 'Edit Profile', edit_user_path(@user)%>
        </div>
      <% end %>
      <div>
        <small>Joined <%= time_ago_in_words(@user.created_at)%> ago</small>
      </div>
    </div>
  </div>
</div>

<h2><%= @user.username %>'s articles: </h2>

<div class="pagination">
<%= will_paginate @articles%>
</div>
<%= render 'articles/article', obj: @articles, purpose: 'profile' %>

<% if logged_in? && (@user == current_user || current_user.admin?)%>
  <div>
    <%= link_to 'Delete account', user_path(@user), method: :delete, data: { confirm: "would you like to delete your account?"}%>
  </div>
<% end %>