<div class="nav">
  <h2 >
    <%= link_to 'Alpha Blog', root_path %>
  </h2>
  <div>
    <%= link_to 'About', about_path %> |
    <%= link_to 'User list', users_path %> |
    <%= link_to 'Article list', articles_path %> |
    <%= link_to 'Sign in', login_path %> |
    <%= link_to 'Sign out', logout_path, method: :delete %> |
    <%= link_to 'Sign up', signup_path %>  
  </div>
</div>